.adoption-interface {

    width: 100dvw;
    height: 100dvh;
    background-color: #159DC0;

    padding: 1.563rem 3.125rem;
    display: grid;
    grid-template-columns: 43.75% 31.25% 25%;
    grid-template-rows: 12.5% 75% 12.5%;

}