.admin-tool {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
  

}

.information-button {

    position: relative;
    width: fit-content;

}

.information-button .info-icon {

    position: absolute;
 
    right: 15px;
    bottom: 5px;


}


.admin-btn-tool {

    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;

 

}




