.adoption-interface .filter-icon {

    grid-row: 3;
    grid-column: 1;
    margin: auto 0;
    width: 4rem;
    height: auto;
    border: 4px solid #F47D34;
    border-radius: 50px;
    background-color: white;

    cursor: pointer;

}

.adoption-interface .filter-window {

    position: absolute;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(5px);
    visibility: hidden;

}

.adoption-interface .filter-window:target {
    visibility: visible;

}

.adoption-interface .filter-window .filter-interface {

    width: 70dvw;
    height: 70dvh;
    border-top-right-radius: 50px;
    background-color: white;
    border: 5px solid #F47D34;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    display: grid;
    grid-template-rows: 80% 20%;

    
}

.adoption-interface .filter-interface .top-part {

    display: block;
    padding: 3.5rem;
    grid-row: 1;

}

.adoption-interface .filter-interface .bottom-part {

    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #159DC0;

}

.adoption-interface .filter-interface .clear-icon-filter {

    position: absolute;
    top: 5%;
    right: 5%;

}

.clear-icon-filter:hover {

    color: #159DC0;
    cursor: pointer;

}
