.btn {

    width: fit-content;
    max-width: fit-content;
    height: 3.75rem;
    padding: 0 3.125rem;
    color: white;
    border-radius: 50px;

    font-size: 1.25rem;    /* p font size */
    font-weight: 300; /* p font weight */

}

.btn-orange {

    background-color: #F27D33;

}

.btn-orange:hover {

    background-color: #E6610F;

}

.btn-orange:active {


    background-color: #F6A979;

}

.btn-blue {

    background-color: #159DC0;

}

.btn-blue:hover {

    background-color: #107993;

}

.btn-blue:active {

    background-color: #5ACFED;

}


.info-btn-orange {

    color: #F27D33;

}

.info-btn-orange:hover {

    color: #E6610F;

}

.info-btn-blue {

    color: #159DC0;

}

.info-btn-blue:hover {

    color: #107993;

}


.exit-button {

    width: 15rem;
    height: auto;
    border: 7px solid #F47D34;
    border-radius: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    float: left;
    position: absolute;
    right: 5%;

}
