.btn {
  height: 3.75rem;
  padding: 0 3.125rem;
  color: white;
  border-radius: 50px;

  font-size: 1.25rem; /* p font size */
  font-weight: 300; /* p font weight */
}

.btn-orange {
  background-color: #f27d33;
}

.btn-orange:hover {
  background-color: #e6610f;
}

.btn-orange:active {
  background-color: #f6a979;
}

.btn-blue {
  background-color: #159dc0;
}

.btn-blue:hover {
  background-color: #107993;
}

.btn-blue:active {
  background-color: #5acfed;
}

.info-btn-orange {
  color: #f27d33;
}

.info-btn-orange:hover {
  color: #e6610f;
}

.info-btn-blue {
  color: #159dc0;
}

.info-btn-blue:hover {
  color: #107993;
}

.exit-button {
  width: 15rem;
  height: auto;
  border: 7px solid #f47d34;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
  float: left;
  position: absolute;
  right: 5%;
}
