.banner_image {

    border: 1px red solid;
    height: 40dvh;
    background-image: url(../assets/depositphotos_249333248-stock-photo-cat-and-dog-and-guinea.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}