@tailwind base;
@tailwind components;
@tailwind utilities;

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

h1 {


    font-size: 4rem;

}

input, textarea, button {

    border: 1px solid red;


}

.centered-div {

    padding: 0 10vw;


}