.add-animal-form {
  padding: 1.25rem 3.125rem;
  width: 100dvw;
  height: 100%;
}

.add-animal-form header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.125rem;
  height: fit-content;
}

.add-animal-form form {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-animal-form form .top-part {
  display: flex;
  flex-direction: row;
  gap: 3.125rem;
}

.add-animal-form form .top-part .mid-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.125rem;
}

.add-animal-form form label:not(.checkbox-label) {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.add-animal-form form label h4,
.add-animal-form form label h3 {
  color: #159dc0;
}

.add-animal-form
  form
  label
  input:not(.input-text, .description, .checkbox-input) {
  width: 18.75rem;
  padding: 0.625rem;
  background-color: transparent;
  border-bottom: 1px solid #f47d34;
}

.add-animal-form form .description {
  border: 1px solid #f47d34;
  width: 50rem;
  height: 20dvh;
  background-color: transparent;
  padding: 0.625rem;
  resize: none;
}

.add-animal-form form .left-part {
  display: flex;
  flex-direction: column;
}

.add-animal-form form .left-part .animal-profile-picture {
  width: 31.25rem;
  height: 50dvh;

  object-fit: cover;
}

.add-animal-form form .bottom-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6.25rem;
}

@media only screen and (max-width: 1440px) {
  .add-animal-form form .mid-part .right-part-in-midpart .top-part {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .add-animal-form form .mid-part .right-part-in-midpart {
    gap: 0;
  }
}
