footer .middle-footer-page .localisation {

    grid-row: 2;
    grid-column: 1;
    width: 100%;
    position: relative;

}

footer 
.middle-footer-page 
.localisation 
.information-item {

    bottom: 0;
    position: absolute;

}
