.image-banner {

    border: 1px solid red;
    height: 80dvh;

}

.our-history {

    display: grid;
    height: 100dvh;
    background-color: #F47D34;
    grid-template-columns: 50% 50%;

}

.our-history article {

    grid-column: 1;

}

.our-history div {

    grid-column: 2;
    background-color: white;

}